.sidebar{

    width:230px;
    min-height:100vh;

    background:#1d4ed8;
    color:white;

    display:flex;
    flex-direction:column;

    padding:30px 20px;

}

.sidebar-logo{

    margin-bottom:50px;

}

.sidebar nav{

    display:flex;
    flex-direction:column;
    gap:15px;

}

.sidebar a{

    color:white;
    text-decoration:none;

    padding:12px 15px;

    border-radius:10px;

    transition:.25s;

}

.sidebar a:hover{

    background:rgba(255,255,255,.15);

}

.active-link{

    background:white;
    color:#1d4ed8 !important;

    font-weight:bold;

}

.logout-btn{

    margin-top:auto;

    border:none;

    border-radius:10px;

    padding:12px;

    cursor:pointer;

    background:#ef4444;

    color:white;

    font-size:15px;

}